@import "tailwindcss";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    color: white;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background: #fafafa;
    border-color: #3b3b3b;
    user-select: none;
    cursor: default;
  }
  
  canvas {
    touch-action: none;
  }
  
  .screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1120px;
  }
  

.inter-light {
  font-family: "Inter", serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", serif;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", serif;
  font-weight: 800;
  font-style: normal;
}

.inter-light-italic {
  font-family: "Inter", serif;
  font-weight: 300;
  font-style: italic;
}

.inter-regular-italic {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: italic;
}

.inter-medium-italic {
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold-italic {
  font-family: "Inter", serif;
  font-weight: 600;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: italic;
}

.inter-extrabold-italic {
  font-family: "Inter", serif;
  font-weight: 800;
  font-style: italic;
}

.inconsolata-light {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-light-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-regular {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-regular-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-medium {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-medium-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-semibold {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-semibold-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-bold {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-bold-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-extrabold {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-extrabold-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 800; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-Regular'),
       url('/src/assets/fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 650; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-Medium'),
       url('/src/assets/fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-SemiBold'),
       url('/src/assets/fonts/ClashDisplay-SemiBold.otf') format('opentype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-Bold'),
       url('/src/assets/fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@theme {
  --font-clash: 'ClashDisplay', sans-serif; 
}


.panel {
  position: relative; 
  height: 80vh;
  border-radius: 50px; 
  color: #fff; 
  cursor: pointer;
  flex: 0.5; 
  margin: 2px; 
  padding: 2px; 
  transition: flex 0.4s ease-in; 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.panel::before {
  position: absolute;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
  border-radius: 50px;
  background-image: inherit; 
  background-size:cover;
  background-position: center;
  z-index: 0;
  opacity: 0.9;
}


.panel.active {
  flex: 5;
  border-radius: 50px;
  opacity: 1;
  background-size: cover;

}

.panel.active h3 {
  opacity: 1;
}

.panel h1{
  opacity: 1;
}

.rotated {
    transform: rotate(-90deg); 
    transform-origin: left bottom; 
    color: black;
    margin-bottom: 10px;
    opacity: 1;
    z-index: 1;
}

.panel.active h1 {
  opacity: 0;
}

.not-rotated {
  display: none;
}

/* xl sizes */
@media (max-width: 1650px) {
  .panel {
    position: relative; 
    height: 70vh;
    border-radius: 50px; 
    color: #fff; 
    cursor: pointer;
    flex: 0.5; 
    margin: 2px; 
    padding: 2px; 
    transition: flex 0.4s ease-in; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    z-index: 0;
    opacity: 0.9;
  }
  
  
  .panel.active {
    flex: 5;
    border-radius: 50px;
    opacity: 1;
    background-size: cover;
  
  }
  
  .panel.active h3 {
    opacity: 1;
  }
  
  .panel h1{
    opacity: 1;
  }
  
  .rotated {
      transform: rotate(-90deg); 
      transform-origin: left bottom; 
      color: black;
      margin-top: 20px;
      opacity: 1;
      z-index: 1;
  }
  
  .panel.active h1 {
    opacity: 0;
  }
  
  .not-rotated {
    display: none;
  } 

}

/* xl sizes */
@media (max-width: 1600px) {
  .panel {
    position: relative; 
    height: 65vh;
    border-radius: 50px; 
    color: #fff; 
    cursor: pointer;
    flex: 0.5; 
    margin: 2px; 
    padding: 2px; 
    transition: flex 0.4s ease-in; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    z-index: 0;
    opacity: 0.9;
  }
  
  
  .panel.active {
    flex: 5;
    border-radius: 50px;
    opacity: 1;
    background-size: cover;
  
  }
  
  .panel.active h3 {
    opacity: 1;
  }
  
  .panel h1{
    opacity: 1;
  }
  
  .rotated {
      transform: rotate(-90deg); 
      transform-origin: left bottom; 
      color: black;
      margin-top: 20px;
      opacity: 1;
      z-index: 1;
  }
  
  .panel.active h1 {
    opacity: 0;
  }
  
  .not-rotated {
    display: none;
  } 

}

/* xl sizes */
@media (max-width: 1400px) {
  .panel {
    position: relative; 
    height: 50vh;
    border-radius: 50px; 
    color: #fff; 
    cursor: pointer;
    flex: 0.5; 
    margin: 2px; 
    padding: 2px; 
    transition: flex 0.4s ease-in; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    z-index: 0;
    opacity: 0.9;
  }
  
  
  .panel.active {
    flex: 5;
    border-radius: 50px;
    opacity: 1;
    background-size: cover;
  
  }
  
  .panel.active h3 {
    opacity: 1;
  }
  
  .panel h1{
    opacity: 1;
  }
  
  .rotated {
      transform: rotate(-90deg); 
      transform-origin: left bottom; 
      color: black;
      margin-top: 50px;
      margin-left: 5px;
      opacity: 1;
      z-index: 1;
  }
  
  .panel.active h1 {
    opacity: 0;
  }
  
  .not-rotated {
    display: none;
  } 

}

/* lg sizes */
@media (max-width: 1280px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }
  

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

  .panel.active {
    height: 90vh;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .panel.active h3 {
    opacity: 1;
  }

  .panel.active h1 {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

  .panel.active {
    height:80vh;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .panel.active h3 {
    opacity: 1;
  }

  .panel.active h1 {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

  .panel.active {
    height: 74vh;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .panel.active h3 {
    opacity: 1;
  }

  .panel.active h1 {
    opacity: 0;
  }

}


/* sm sizes */
@media (max-width: 768px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }
  
.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

.panel.active {
  height: 55vh;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel.active h3 {
  opacity: 1;
}

.panel.active h1 {
  opacity: 0;
}



/* xs sizes */
@media (max-width: 640px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

.panel.active {
  height: 42vh;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel.active h3 {
  opacity: 1;
}

.panel.active h1 {
  opacity: 0;
}

}}