@import "tailwindcss";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    color: white;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background: #fafafa;
    border-color: #3b3b3b;
    user-select: none;
    cursor: default;
  }
  
  canvas {
    touch-action: none;
  }
  
  .screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1120px;
  }
  

.inter-light {
  font-family: "Inter", serif;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", serif;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", serif;
  font-weight: 800;
  font-style: normal;
}

.inter-light-italic {
  font-family: "Inter", serif;
  font-weight: 300;
  font-style: italic;
}

.inter-regular-italic {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: italic;
}

.inter-medium-italic {
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: italic;
}

.inter-semibold-italic {
  font-family: "Inter", serif;
  font-weight: 600;
  font-style: italic;
}

.inter-bold-italic {
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: italic;
}

.inter-extrabold-italic {
  font-family: "Inter", serif;
  font-weight: 800;
  font-style: italic;
}

.inconsolata-light {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-light-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-regular {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-regular-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-medium {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-medium-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-semibold {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-semibold-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-bold {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-bold-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.inconsolata-extrabold {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata-extrabold-italic {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-weight: 800; 
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-Regular'),
       url('/src/assets/fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 650; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-Medium'),
       url('/src/assets/fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-SemiBold'),
       url('/src/assets/fonts/ClashDisplay-SemiBold.otf') format('opentype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: local('ClashDisplay-Bold'),
       url('/src/assets/fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@theme {
  --font-clash: 'ClashDisplay', sans-serif; 
}


.element{
  width: 50px;
  height: 50px;
  z-index: -1;
  margin: auto;
  animation: rotation 5s infinite;
  animation-fill-mode: forwards; 
}

.side1{
  width: 100%;
  height: 50%;
}

.side1::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  top:0;
  left: 0;
  background: linear-gradient(45deg, rgba(255,140,54,1) 0%, rgba(255,145,222,1) 100%);
  border-radius: 0 0 0 90%;
}

.side1::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  bottom:0;
  right: 0;
  background: linear-gradient(135deg, rgba(255,140,54,1) 0%, rgba(255,145,222,1) 100%);
  border-radius: 0 90% 0 0;
}

.side2{
  width: 100%;
  height: 50%;
}

.side2::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  bottom:0;
  left: 0;
  background: linear-gradient(270deg, rgba(255,140,54,1) 0%, rgba(255,145,222,1) 100%);
  border-radius: 0 0 90% 0;
}

.side2::after{
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  top:0;
  right: 0;
  background: linear-gradient(90deg, rgba(255,140,54,1) 0%, rgba(255,145,222,1) 100%);
  border-radius: 90% 0 0 0;
}

@keyframes rotation {
  0%{
    transform: rotateZ(0deg)
  }
  12.5%{
    transform: rotateZ(90deg)
  }
  25%{
    transform: rotateZ(90deg)
  }
  37.5%{
    transform: rotateZ(180deg)
  }
  50%{
    transform: rotateZ(180deg)
  }
  62.5%{
    transform: rotateZ(270deg)
  }
  75%{
    transform: rotateZ(270deg)
  }
  87.5%{
    transform: rotateZ(360deg)
  }
  100%{
    transform: rotateZ(360deg)
  }
}


.panel {
  position: relative; 
  height: 80vh;
  border-radius: 50px; 
  color: #fff; 
  cursor: pointer;
  flex: 0.5; 
  margin: 2px; 
  padding: 2px; 
  transition: flex 0.4s ease-in; 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.panel::before {
  position: absolute;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
  border-radius: 50px;
  background-image: inherit; 
  background-size:cover;
  background-position: center;
  z-index: 0;
  opacity: 0.9;
}


.panel.active {
  flex: 5;
  border-radius: 50px;
  opacity: 1;
  background-size: cover;

}

.panel.active h3 {
  opacity: 1;
}

.panel h1{
  opacity: 1;
}

.rotated {
    transform: rotate(-90deg); 
    transform-origin: left bottom; 
    color: black;
    margin-bottom: 10px;
    opacity: 1;
    z-index: 1;
}

.panel.active h1 {
  opacity: 0;
}

.not-rotated {
  display: none;
}

.icon {
  position: relative;
  display: inline-block;
  color: transparent;
  background: linear-gradient(to right, #1f2937, #2a3341);
  -webkit-background-clip: text;
  background-clip: text;
  transition: background 0.5s ease; 
}

.icon:hover {
  background: linear-gradient(to bottom right, #1f2937, #374151, #4b5563); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}



/* bg */


:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}










/* xl sizes */
@media (max-width: 1650px) {
  .panel {
    position: relative; 
    height: 70vh;
    border-radius: 50px; 
    color: #fff; 
    cursor: pointer;
    flex: 0.5; 
    margin: 2px; 
    padding: 2px; 
    transition: flex 0.4s ease-in; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    z-index: 0;
    opacity: 0.9;
  }
  
  
  .panel.active {
    flex: 5;
    border-radius: 50px;
    opacity: 1;
    background-size: cover;
  
  }
  
  .panel.active h3 {
    opacity: 1;
  }
  
  .panel h1{
    opacity: 1;
  }
  
  .rotated {
      transform: rotate(-90deg); 
      transform-origin: left bottom; 
      color: black;
      margin-top: 20px;
      opacity: 1;
      z-index: 1;
  }
  
  .panel.active h1 {
    opacity: 0;
  }
  
  .not-rotated {
    display: none;
  } 

}

/* xl sizes */
@media (max-width: 1600px) {
  .panel {
    position: relative; 
    height: 65vh;
    border-radius: 50px; 
    color: #fff; 
    cursor: pointer;
    flex: 0.5; 
    margin: 2px; 
    padding: 2px; 
    transition: flex 0.4s ease-in; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    z-index: 0;
    opacity: 0.9;
  }
  
  
  .panel.active {
    flex: 5;
    border-radius: 50px;
    opacity: 1;
    background-size: cover;
  
  }
  
  .panel.active h3 {
    opacity: 1;
  }
  
  .panel h1{
    opacity: 1;
  }
  
  .rotated {
      transform: rotate(-90deg); 
      transform-origin: left bottom; 
      color: black;
      margin-top: 20px;
      opacity: 1;
      z-index: 1;
  }
  
  .panel.active h1 {
    opacity: 0;
  }
  
  .not-rotated {
    display: none;
  } 

}

/* xl sizes */
@media (max-width: 1400px) {
  .panel {
    position: relative; 
    height: 50vh;
    border-radius: 50px; 
    color: #fff; 
    cursor: pointer;
    flex: 0.5; 
    margin: 2px; 
    padding: 2px; 
    transition: flex 0.4s ease-in; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    z-index: 0;
    opacity: 0.9;
  }
  
  
  .panel.active {
    flex: 5;
    border-radius: 50px;
    opacity: 1;
    background-size: cover;
  
  }
  
  .panel.active h3 {
    opacity: 1;
  }
  
  .panel h1{
    opacity: 1;
  }
  
  .rotated {
      transform: rotate(-90deg); 
      transform-origin: left bottom; 
      color: black;
      margin-top: 50px;
      margin-left: 5px;
      opacity: 1;
      z-index: 1;
  }
  
  .panel.active h1 {
    opacity: 0;
  }
  
  .not-rotated {
    display: none;
  } 

}

/* lg sizes */
@media (max-width: 1280px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }
  

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

  .panel.active {
    height: 90vh;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .panel.active h3 {
    opacity: 1;
  }

  .panel.active h1 {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

  .panel.active {
    height:80vh;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .panel.active h3 {
    opacity: 1;
  }

  .panel.active h1 {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

  .panel.active {
    height: 74vh;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .panel.active h3 {
    opacity: 1;
  }

  .panel.active h1 {
    opacity: 0;
  }

}


/* sm sizes */
@media (max-width: 768px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }
  
.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

.panel.active {
  height: 55vh;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel.active h3 {
  opacity: 1;
}

.panel.active h1 {
  opacity: 0;
}



/* xs sizes */
@media (max-width: 640px) {
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 6vh;
    border-radius: 50px;
    color: #fff;
    border: #3b3b3b;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: 0.2s ease-in;
  }

  .panel::before {
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background-image: inherit; 
    background-size:cover;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
    opacity: 0.9;
  }

.rotated {
  display: none;
}

.not-rotated{
  display: inline-block;
  opacity: 1;
  z-index: 1;
}

.panel.active {
  height: 42vh;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel.active h3 {
  opacity: 1;
}

.panel.active h1 {
  opacity: 0;
}

}}